@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:wght@400;500;600;700&display=swap'); /* Importa as fontes do Google Fonts */

* {
    box-sizing: border-box; /* Garante que padding e border não aumentem o tamanho total do elemento */
}

:root {
    --primary-color: #e5ba45; /* Cor primária (azul claro) */
    --secondary-color: #f1e1a2; /* Cor secundária (cinza claro) */
    --tertiary-color: #9aa0a6; /* Cor terciária (cinza médio) */
    --bg-color: #202124; /* Cor de fundo (cinza escuro) */
}

body {
    margin: 0; /* Remove a margem padrão do body */
    background: var(--bg-color); /* Define a cor de fundo usando uma variável */
    color: var(--secondary-color); /* Define a cor do texto padrão usando uma variável */
    font-family: 'Lato', sans-serif; /* Define a família da fonte principal */
}

header {
    padding: 1.4rem 1rem; /* Espaçamento interno (2rem em cima/baixo, 1rem nos lados) */
    display: flex; /* Habilita o layout flexbox */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-around; /* Distribui os itens com espaço ao redor */
    position: sticky;  /* Mantém o cabeçalho fixo no topo ao rolar a página */
    top: 0; /* Posição do topo quando sticky */
    background: var(--bg-color); /* Cor de fundo do cabeçalho */
    z-index: 10; /* Define a ordem de empilhamento para ficar sobre outros elementos */
    border-bottom: 1px solid var(--bg-color); /* Adiciona uma borda inferior */
    gap: 0.7rem; /* Espaçamento entre os elementos flex */
}

header h1 {
    font-size: 2rem; /* Tamanho da fonte */
    margin: 0; /* Remove a margem padrão */
    font-weight: 600; /* Peso da fonte (médio) */
    font-family: 'Playfair Display', serif; /* Define a fonte para os títulos */
    white-space: nowrap; /* Impede a quebra de linha do texto */
}

header h1 a {
    text-decoration: none; /* Remove o sublinhado padrão */
    color: var(--primary-color); /* Cor do link */
}

header img {
    height: 3rem; /* Altura da imagem */
    margin-left: 4rem;  /* Margem à esquerda */
}

div input {
    padding: 1rem 1.2rem; /* Espaçamento interno */
    border-radius: 1rem; /* Arredonda as bordas */
    border: 1px solid var(--tertiary-color); /* Define a borda */
    background: var(--bg-color); /* Cor de fundo */
    font-family: inherit; /* Herda a família da fonte do elemento pai */
    font-size: .8rem; /* Tamanho da fonte */
    transition: all 0.2s ease; /* Adiciona uma transição suave para todas as propriedades */
    width: 30vw;; /* Largura do input */
    color: var(--secondary-color); /* Cor do texto digitado */
    margin-right: .5rem; /* Margem à direita */
    margin-top: 1rem; /* Margem no topo */
}

div input::placeholder {
    font-size: 0.9rem; /* Tamanho da fonte do placeholder */
    font-weight: 300; /* Peso da fonte do placeholder */
    color: var(--tertiary-color); /* Cor do texto do placeholder */
}

div input:focus {
    outline: none; /* Remove a borda de foco padrão */
    border-color: var(--bg-color); /* Muda a cor da borda ao focar */
    box-shadow: 0 0 0 0.1rem var(--tertiary-color); /* Adiciona uma sombra de caixa para indicar foco */
}

#botao-busca {
    padding: 1rem 2rem; /* Espaçamento interno */
    border-radius: 1rem; /* Arredonda as bordas */
    border: none; /* Remove a borda padrão */
    cursor: pointer; /* Muda o cursor para uma mão ao passar por cima */
    font-family: inherit; /* Herda a família da fonte */
    font-weight: 500; /* Peso da fonte */
    font-size: 1rem; /* Tamanho da fonte */
    white-space: nowrap; /* Impede a quebra de linha do texto */
    transition: background-color 0.2s ease, color 0.2s ease; /* Transição suave para cor de fundo e cor do texto */
    background-color: var(--bg-color); /* Cor de fundo */
    color: var(--secondary-color); /* Cor do texto */
    border: 1px solid var(--bg-color); /* Adiciona uma borda */
}

#botao-busca:hover {
    background-color: var(--primary-color); /* Muda a cor de fundo ao passar o mouse */
    color: var(--bg-color); /* Muda a cor do texto ao passar o mouse */
    box-shadow: 0 0 0 0.1rem var(--primary-color); /* Adiciona uma sombra de caixa */
}

#botao-busca:active {
    transform: scale(0.98); /* Efeito de clique (diminui o tamanho) */
}

main {
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical se o conteúdo exceder a altura */
    /* max-width: 40rem; Largura máxima do conteúdo principal */
    margin: 0 auto; /* Centraliza o conteúdo principal horizontalmente */
    margin-top: 0.5rem; /* Margem no topo */
    height: calc(100vh - 7rem - 4rem); /* Calcula a altura para preencher o espaço restante da tela */
    text-align: center;
    /* Oculta a barra de rolagem para navegadores WebKit (Chrome, Safari) */
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;  /* Firefox */
}

.card-container {
    text-align: center;
}

article {
    background: none; /* Sem cor de fundo */
    border-radius: 0; /* Sem bordas arredondadas */
    padding: 0 20rem; /* Espaçamento interno nos lados */
    margin-bottom: 1.25rem; /* Margem inferior */
    box-shadow: none; /* Sem sombra */
    transition: background-color 0.3s ease, border-bottom-color 0.3s ease; /* Transição suave */
    border-bottom: 1px solid var(--bg-color); /* Borda inferior */
    padding-bottom: 1.5rem; /* Espaçamento interno inferior */
}

article:hover {
    transform: scale(1.01); /* Aumenta ligeiramente o tamanho ao passar o mouse */
    cursor: pointer; /* Muda o cursor para uma mão */
}

article h2 {
    margin-top: 0; /* Remove a margem superior */
    font-weight: 600; /* Peso da fonte */
    font-size: 1.6rem; /* Tamanho da fonte */
    border-bottom: none; /* Sem borda inferior */
    padding-bottom: 0; /* Sem espaçamento interno inferior */
    margin-bottom: 0.25rem; /* Margem inferior */
    color: var(--primary-color); /* Cor do texto */
    font-family: 'Playfair Display', serif; /* Define a fonte para os títulos */
}

article h3 {
    margin-top: 0; /* Remove a margem superior */
    font-weight: 500; /* Peso da fonte */
    font-size: 1.0rem; /* Tamanho da fonte */
    border-bottom: none; /* Sem borda inferior */
    padding-bottom: 0; /* Sem espaçamento interno inferior */
    margin-top: 0;
    margin-bottom: 0.7rem; /* Margem inferior */
    color: var(--primary-color); /* Cor do texto */
    font-family: 'Playfair Display', serif; /* Define a fonte para os títulos */
    font-style: italic;
}

article p {
    margin-top: 0.5rem ; /* Margem superior e inferior */
    line-height: 1.6; /* Altura da linha para melhor legibilidade */
    font-size: 0.9rem; /* Tamanho da fonte */
    margin-bottom: 0.3rem; /* Margem inferior */
    color: var(--secondary-color); /* Cor do texto */
}

article p strong {
    color: var(--tertiary-color); /* Cor do texto em negrito */
    font-weight: 400; /* Peso da fonte */
}

article #poster {
    height: 15rem; /* Altura da imagem */
    margin-bottom: 1.2rem;
    margin-top: 1rem;
}

article #nota img {
    height: 0.8rem; /* Altura da imagem */
}

article #streaming a img {
    width: 2rem; /* Altura da imagem */
}

article #sinopsetitulo {
    font-size: 1.1rem; /* Tamanho da fonte */
    font-weight: 400; /* Peso da fonte */
    margin-top: 1.4rem;
}

article #sinopse {
    font-size: 1.1rem; /* Tamanho da fonte */
    font-weight: 400; /* Peso da fonte */
    margin-bottom: 1.6rem;
}

article a {
    color: var(--primary-color); /* Cor do link */
    text-decoration: none; /* Remove o sublinhado padrão */
    font-weight: 200; /* Peso da fonte */
    display: block;
    margin-top: 1.6rem;
}

article a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.footer {
    position: absolute; /* Posicionamento absoluto em relação ao elemento pai posicionado */
    bottom: 0; /* Alinha na parte inferior */
    left: 0; /* Alinha à esquerda */
    width: 100%; /* Largura total */
    color: var(--tertiary-color); /* Cor do texto */
    background-color: var(--bg-color); /* Cor de fundo */
    padding: 15px 20px; /* Espaçamento interno */
    border-top: 1px solid #3c4043; /* Borda superior */
    font-size: 0.8rem; /* Tamanho da fonte */
}

.footer-location {
    color: #9aa0a6; /* Cor do texto */
    margin-bottom: 1px; /* Margem inferior */
}

.footer-links {
    list-style: none; /* Remove os marcadores da lista */
    display: flex; /* Habilita o layout flexbox */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 15px; /* Espaçamento entre os links */
}

.footer-links a {
    color: var(--secondary-color); /* Cor do link */
    text-decoration: none; /* Remove o sublinhado */
    transition: color 0.2s; /* Transição suave para a cor */
}

.footer-links a:hover {
    color: var(--accent-color); /* Muda a cor do link ao passar o mouse (variável não definida) */
}

@media (max-width: 768px) {
    header { /* Estilos para telas com largura máxima de 768px */
        flex-direction: column; /* Organiza os itens do cabeçalho em coluna */
        padding: 1rem; /* Reduz o espaçamento interno */
        position: static;
    }

    header h1 { /* Estilos para o h1 no cabeçalho em telas menores */
        text-align: center; /* Centraliza o texto */
        margin-bottom: 1rem; /* Adiciona margem inferior */
        font-size: 1.8rem;
    }
    header img {
        height: 8rem; /* Altura da imagem */
        margin-right: 4rem; /* Margem à esquerda */
        margin-top: 1rem;
    }
    div input { /* Estilos para o input em telas menores */
        width: 50vw; /* Largura baseada na largura da viewport */
        font-size: 1.2rem; /* Reduz o tamanho da fonte */
    }

    main { /* Estilos para o main em telas menores */
        padding: 0 1rem; /* Adiciona espaçamento lateral */
    }

    article:hover { /* Estilos para o article em telas menores */
        transform: none; /* Remove o efeito de escala ao passar o mouse */
    }
    .footer { /* Estilos para o rodapé em telas muito pequenas */
        display: none; /* Oculta o rodapé */
    }
    button { /* Estilos para o botão em telas muito pequenas */
        margin-top: 1rem; /* Adiciona margem no topo */
    }
}

@media (max-width: 480px) {
    header {
        position: static;
    }
    header h1 { /* Estilos para o h1 em telas com largura máxima de 480px */
        font-size: 1rem; /* Reduz ainda mais o tamanho da fonte */
        max-width: 70%; /* Define uma largura máxima */
        word-wrap: break-word; /* Permite a quebra de palavras longas */
    }
    
    header img {
    height: 8rem; /* Altura da imagem */
    margin-left: none; /* Margem à esquerda */
    }

    div input, /* Estilos para o input e seu placeholder em telas muito pequenas */
    div input::placeholder {
        font-size: 1rem; /* Reduz o tamanho da fonte */
    }

    article h2 { /* Estilos para o h2 do article em telas muito pequenas */
        font-size: 1.3rem; /* Reduz o tamanho da fonte */
    }

    div { /* Estilos para a div do cabeçalho em telas muito pequenas */
        display: flex; /* Habilita flexbox */
        align-items: center; /* Alinha itens ao centro */
        justify-content: center; /* Centraliza itens */
        flex-direction: column; /* Organiza em coluna */
        gap: 0.5rem; /* Espaçamento entre os itens */
    }

    .footer { /* Estilos para o rodapé em telas muito pequenas */
        display: none; /* Oculta o rodapé */
    }

    button { /* Estilos para o botão em telas muito pequenas */
        margin-top: 2rem; /* Adiciona margem no topo */
    }
}

/*------------------- SLIDER FRONT PAGE - NOVIDADES ----------------------*/

.carrossel {
    width: 100% ; /* auto; */
    height: 400px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    width: 400%;
    height: 100%;
}

.slide {
    width: 25%;
    transition: 5.0s;
}

.indicadores {
    position: absolute;
    bottom: 20px;
    display: flex;
    left: 50%;
    transform: translate(-50%);
}

.indicador {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    cursor: pointer;
    margin: 5px;
    filter: drop-shadow(2px 2px 1px block);
    transition:  0.7s;
}

.indicador:hover {
    background-color: #fff;
}

.indicador.ativo {
    background-color: #fff;
}

input[type='radio'] {
    display: none;
}

.s1 {
    background-image: url(https://a.ltrbxd.com/resized/film-poster/1/3/9/7/9/5/139795-birdman-0-2000-0-3000-crop.jpg?v=345680513e);
    background-position: center;
}
.s2 {
    background-image: url(https://a.ltrbxd.com/resized/film-poster/2/4/0/3/4/4/240344-la-la-land-0-2000-0-3000-crop.jpg?v=053670ff84);
    background-position: center;
}
.s3 {
    background-image: url(https://a.ltrbxd.com/resized/film-poster/3/1/0/7/0/5/310705-the-favourite-0-2000-0-3000-crop.jpg?v=c5488e37ef);
    background-position: center;
}
.s4 {
    background-image: url(https://a.ltrbxd.com/resized/sm/upload/y0/fn/7r/cz/6u85CuvnbrzWMhKbGk4Bm5RnO3V-0-2000-0-3000-crop.jpg?v=e06d442363);
    background-position: center;
}
.s5 {
    background-image: url(https://a.ltrbxd.com/resized/film-poster/7/1/0/3/5/2/710352-poor-things-0-2000-0-3000-crop.jpg?v=a0f2ee9a0e);
    background-position: center;
}
.s6 {
    background-image: url(https://a.ltrbxd.com/resized/film-poster/5/1/7/8/2/51782-the-silence-of-the-lambs-0-2000-0-3000-crop.jpg?v=18d88bdff4);
    background-position: center;
}
.s7 {
    background-image: url(https://a.ltrbxd.com/resized/film-poster/5/1/7/1/2/51712-the-devil-wears-prada-0-2000-0-3000-crop.jpg?v=65a9cdb330);
    background-position: center;
}
.s8 {
    background-image: url(https://a.ltrbxd.com/resized/film-poster/1/1/9/4/6/6/119466-blue-jasmine-0-2000-0-3000-crop.jpg?v=f9deaa1eb7);
    background-position: center;
}
.s9 {
    background-image: url(https://a.ltrbxd.com/resized/film-poster/5/1/7/8/1/51781-fargo-0-2000-0-3000-crop.jpg?v=44835e3b35);
    background-position: center;
}
.s10 {
    background-image: url(https://a.ltrbxd.com/resized/film-poster/5/1/6/9/4/51694-who-s-afraid-of-virginia-woolf--0-2000-0-3000-crop.jpg?v=e194eba2b2);
    background-position: center;
}

#slide1:checked ~ .s1 {
    margin-left: +8%;
}
#slide2:checked ~ .s1 {
    margin-left: -3%;
}
#slide3:checked ~ .s1 {
    margin-left: -16.5%;
}
#slide4:checked ~ .s1 {
    margin-left: -34.5%;
}
#slide5:checked ~ .s1 {
    margin-left: -59%;
}
#slide6:checked ~ .s1 {
    margin-left: -94.5%;
}
#slide7:checked ~ .s1 {
    margin-left: -150%;
}
#slide8:checked ~ .s1 {
    margin-left: -175%;
}
#slide9:checked ~ .s1 {
    margin-left: -200%;
}
#slide10:checked ~ .s1 {
    margin-left: -225%;
}

.slide img {
    width: 14.5rem;
}


